*{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body {
  font-family: "inherit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  overflow-x: hidden;


}
html {
  direction: ltr;
}
.head-border-center:after
{
    content: '';
    display: block;
    width: 69px;
    height: 5px;
    background-color: #000;
    margin: 17px auto;
}
.head-border-left:after
{
    content: '';
    display: block;
    width: 69px;
    height: 5px;
    background-color: #000;
    margin: 17px 0;
}
.head-border-right:after
{
    content: '';
    display: block;
    width: 69px;
    height: 5px;
    background-color: #000;
    margin: 19px 0;
}
/* start scrolltotop*/
.scrolltotop{
  display: inline-block;
  text-decoration: none;
  position: fixed;
  height: 40px;
  color: #fff;
  width: 40px;
  right: 20px;
  bottom: 30px;
  display: none;

}
.scrolltotop i{
  font-size: 37px;
  margin: 0px 7px;
  color:  #4a2fc2;
}


.overflowimg{
  width: 100%;
  height: 100%;
  background: rgb(136 136 136 / 50%);
}

/* end scrolltotop*/


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a,
a:hover,
a:visited {
    color: #000;
}
  .nav-link {
    color: #fff !important;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
  }
  
  .nav-link:hover {
    color: #ffb76d !important;
    transition: all 0.3s;
    border-bottom: 2px solid #ffb76d;
  }
  .active {
    border-bottom: 2px solid #ffb76d;
  }
  
  .btn-custom-dark {
    display: inline-block;
    color: #fff !important;
    background-color: #000;
    border-radius: 100px;
    padding: 10px 50px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(68, 68, 68, 0.2);
    transition: all 0.2s;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
  }
  .btn-custom-dark:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 6px rgba(68, 68, 68, 0.4);
    color: #3aade6 !important;
  }
  .btn-custom-dark:active {
    transform: translateY(-3px);
    box-shadow: 0px 4px 4px rgba(68, 68, 68, 0.3) !important;
    color: #3aade6 !important;
  }
  .btn-custom-dark:focus {
    box-shadow: none;
  }
  .btn-custom-dark-center {
    margin: 10px auto;
  }
  /* header section */
  nav {
    top: 3px;
    position: absolute  !important;
    width: 100%;
    height: 165px;
    /* z-index: 1; */
  }

li.nav-item {
    margin: 0px 5px 0 15px;
    color: #fff;
} 
  header {
    /* position: relative; */
    background-color: black;
    /* height: 100vh; */
    height: 85vh;
    min-height: 25rem;
    width: 100%;
    background-image: url('../images/modern-buildings jpg.png');
    background-size: cover;
    overflow: hidden;
  }

  .header-title.text-white{
    width: 500px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    position: absolute;
}
  header .container h1 {
    margin-bottom: 2rem;
    background: rgb(178 178 178 / 30%);
    display: inline;
    font-size: 70px;
  }
  
header .container p {
  font-size: 17px;
  font-weight: 300;
  color: #f0e5e5;
}
  
/*loading*/
#ftco-loader {
    position: fixed;
    width: 100%;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px #fbe100;
    box-shadow: 0px 24px 64px #fbe100;
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000; }
  
  #ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #64257D }
    
  
  #ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1; }
  
  #ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  
  #ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round; }
  
  @-webkit-keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @-webkit-keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  
  @keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  
  
/*loading*/

.logo{
  margin: 56px 0px 0px;
}
.logo img{
  width: 150px;
  margin-top: -89px;
}
/*start awesome*/
.awesome{
    padding: 60px 0;
    overflow: hidden;
}
.awesome h1{
    font-weight: bold;
    color: #000;
    font-size: 23px;
    padding-bottom: 20px;
      overflow: hidden;
}
.awesome h2{
    font-weight: bold;
    color: #000;
    font-size: 20px;
    margin: 20px 0;
}
.awesome img{
width: 90px;
}
.awesome h1 ~ p{
    color: #716a6a;
    margin-bottom: 50px;
    font-size: 20px;
}
.awesome .info i
{
    border: 1px solid #ff8b38;
    padding: 1px 3px;
    width: 70px;
    line-height: 59px;
    border-radius: 50%;
    height: 70px;
    color: #ff8b38;
    text-align: center;
}


.awesome .info {
    padding: 10px;
}
.awesome .info h2{
    font-weight: bold;
    margin-bottom: 20px

}
.awesome .info p{
    line-height: 1.6;
    font-weight: bold;
    font-size: 16px;
    color: #666;

}
/*end awesome*/

 /*start achievement*/ 
.achievement{
    padding: 30px 0;
    margin-bottom: 200px;
    overflow: hidden;
}
.achievement .achievement-img {
  width: 100%;
  background: #000;
  height: 107px;
  border-radius: 14px;
  margin-bottom: 24px;
}
.achievement h1{
    font-weight: bold;
    color: #000;
    font-size: 35px;
    padding-bottom: 45px;
}
.achievement img{
    width: 160px;
    height: 107px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 45px;
    box-shadow: 8px 6px 13px rgba(0, 0, 0, 0.514);
    transform: rotate(25deg);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*end achievement*/
/*start cards*/
.cards{
  padding: 50px 0 20px 0;
  background: url('../images/subtle-pattern-1.jpg');
  color: #a9aaac;
  position: relative;
      overflow: hidden;
}
.cards .card{
  width: 242px;
  height: 19rem;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 20px -5px rgba(51, 51, 51, 0.26);
  cursor: pointer;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  z-index: 1;
}
.cards h2{
  font-weight: bold;
  color: #312f77 !important;
  font-size: 25px;
  padding-bottom: 45px;
}


.cards .card img{
  height: 10rem;
}
.cards .card i{
  color: #f24647;
  float: right;
  padding: 2px 8px 10px 0;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0rem;
}
.card-body p {
  padding: 2px 7px 0 95px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin-bottom: 130px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 242px;
  height: 19rem;
  margin-bottom: 130px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #f24647;
  color: white;
  top: 0;
  left: 0;
  width: 242px;
  height: 19rem;
  margin-bottom: 130px;
  transform: rotateY(180deg);
  overflow: hidden;
  border-radius: 16px;
}
.flip-card-back img {
  width: 163px;
  margin: 30px 0;
}
.flip-card-back p{
  color: #fff;
  font-size: 17px;
}
.cards .button-animeted{
  background: transparent;
  border: none;
  background-color: #312f77;
  color: #fff;
  height: 45px;
  width: 192px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  margin: 25px auto;
  box-shadow: 8px 6px 13px rgba(0, 0, 0, 0.514);
}
.cards .button-animeted:hover{
  color: #3695C6;
  transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  
}
/*
.cards .card{
  width: 242px;
  height: 19rem;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 20px -5px rgba(51, 51, 51, 0.26);
  cursor: pointer;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  z-index: 1;
}


end cards*/

/*start form*/
form{
  background: url('../images/contact us.gif');
  padding: 40px 0;
      overflow: hidden;
}
form h2{
  color: #fff;
}
form input{
  display: block;
  margin: 0 auto;
  height: 36px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #000;
}
form textarea{
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #000;
  padding: 7px 0px;
}
form .button-animeted{
  background: transparent;
  border: none;
  background-color: #312f77;
  color: #fff;
  height: 45px;
  width: 192px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 8px 6px 13px rgba(0, 0, 0, 0.514);
}
form .button-animeted:hover{
  color: #3695C6;
  transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  
}
/*end form*/
/*start email*/
.imageTitle{
  /* padding: 40px; */
  background: url('../images/panoramic-aerial-view-architectural-landscape-skyline-qingdao-fushan-bay.jpg');
      overflow: hidden;
      width: 100%;
      height: 524px;
      background-size: cover;
      transform: skewY(-3deg);
}

.imageTitle .overflowimg{
  width: 100%;
  height: 100%;
  background: rgb(136 136 136 / 50%);
}
.imageTitle .info{
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 79%;
  color: #fff;
}

.imageTitle h2{
  font-weight: bold;
  font-size: 29px;
  color: #fff;
  padding-bottom: 25px;
}

/*end email*/
/*start footer*/
footer{
  background: url('../images/abstract-communication-technology-network-concept.jpg');
    color: #fff;
    overflow: hidden;
    width: 100%;
    height: 580px;
    background-size: cover;
    transform: skewY(2deg) !important;
  }
  footer .overflowimg{
    width: 100%;
    height: 100%;
    background: rgb(136 136 136 / 50%);
  }
  footer .overflowimg .info{
    transform: translate(-50%, 90%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 82%;
    color: #fff;
  }
  
  footer .overflowimg .info h1{
    font-weight: bold;
    font-size: 41px;
    color: #fff;
    padding-bottom: 25px;
  }
  footer .overflowimg .info .btn-custom-dark{
         background-color: transparent; 
        border-radius: 100px;
        border: 1px solid #fff;
  }
  /*end footer*/

/*end copyright*/
.copyright{
  background: #000;
  /* width: 100%; */
  /* height: 150px; */
  transform: scale(1.3);
  overflow: hidden;
  padding: 20px 158px;
}
.copyright ul {
  display: inline-flex;
}
.copyright ul li{
  display: inline-flex;
}
.copyright img{
  width: 100px;
  display: inline;
}
.copyright ul li p{
  font-size: 10px;
  color: #777;
  margin-top: 5%;
  line-height: 2;
}
.copyright ul li .border-top-1 {
  width: 2px;
  height: 68px;
  background: #fff;
  margin-top: 18px;
  margin-right: 14px;

}
.copyright  p{
  font-size: 10px;
  color: #777;
  margin-top: 3%;
  line-height: 2;

}
.navbar-toggler{
  border: 1px solid rgb(0, 142, 201);
  margin-left: 23px;

}
nav .navbar-toggler i{
  color: rgb(0, 142, 201);
  font-size: 22px;
}
/*end copyright*/




/* start Contact US */

.Contact{
  padding: 40px 0;
  overflow: hidden;
}
.Contact .Contact-p{
  width: 64%;
  font-size: 21px;
  display: inline-block;
  margin-bottom: 95px;
}
.Contact p{
  font-size: 20px;
  margin-bottom: 80px;

}
.Contact i{
  font-size: 48px;
  margin-bottom: 20px;

}
/* end Contact US */



/* start about us */

.about-header .header-title.text-white{
  transform: translate(-50%, -50%);
}
.about-header .header-title.text-white h1{
margin-bottom: 20px;
display: inline-block;
}


.about-us{
  padding: 70px 0 120px 0;
  overflow: hidden;
}
.about-us .right{
  text-align: right;
}
.about-us .left{
  text-align: left;
}
.about-us h1{
  font-size: 45px;
  font-weight: bold;
  display: inline-grid;
}
.about-us p{
  font-size: 16px;
    font-weight: bold;
    color: #777;
}
.about-us span.about-Services {
  font-size: 100px;
  font-family: 'Font Awesome 5 Free';
}

.experties{
  padding: 70px 0;
  overflow: hidden;
  background: #f5f2ff;
  /* transform: scaleY(1.19); */
}
.experties .card-expertie{
  margin-top: 50px;
  padding: 86px 10px;
  background: #fff;
  border-radius: 10px;
}
.experties h2{
  color: #f6a612;
  border-bottom: 2px solid #f6a612;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 34px;
}
.experties p{
  font-size: 20px;
  line-height: 2;
  line-break: auto;
}



.overload-Y-1 {
  width: 100%;
  background: #f5f2ff;
  width: 100%;
  height: 54px;
  transform: skewY(-3deg)scaleY(2.5);
}
.overload-Y-2 {
  width: 100%;
  background: #f5f2ff;
  width: 100%;
  height: 54px;
  transform: skewY(3deg)scaleY(2.5);
}
/* end about us */













  /* 
  ==================
  --- Responsive ---
*/


 @media only screen and (max-width: 600px){
    nav {
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      position: relative  !important;
  }
  .logo {
    margin: 0;
  } 
  header {
    
    height: 72vh;
  }
  .logo img {
    width: 75px;
    margin-top: 0;
    margin-right: 20px;
  }
  .nav-link {
    color: #000!important;
    font-size: 14px;
  }
 

  .header-title.text-white {
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
    transform: none;
    position: relative;
}

.awesome .info p {
  font-size: 15px;
}

.awesome h1 {

  font-size: 23px !important;
}
footer {
  width: 100%;
  height: 100%;
  transform: none !important;
}
footer .overflowimg {
  padding: 30px 0;
}
footer .overflowimg .info {
  transform: none;
  top: inherit;
  left: inherit;
  position: relative;
  width: 100%;
}
.copyright {
  background: #000;
  /* width: 100%; */
  height: 100%;
  transform: none;
  overflow: hidden;
  padding: 20px 0;
  text-align: center;
} 
.copyright ul {
  display: block;
}
.copyright img {
  width: 200px;
}
.copyright ul li .border-top-1{
  display: none;
}
.achievement {
  margin-bottom: 30px;
}
/* start about */
.about-header .header-title.text-white {
  transform: none;
}
.about-us {
  padding: 70px 0 60px 0;
}
.about-us h1 {
  font-size: 32px;
  display: table-caption;
}
.about-us .right {
  text-align: left;
}
.overload-Y-1,
.overload-Y-2 {
  display: none;
}
/* End about */
}
@media (min-width: 576px) and (max-width: 767.98px) {

  nav {
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative  !important;
}
.logo {
  margin: 0;
} 
header {
  
  height: 72vh;
}
.logo img {
  width: 75px;
  margin-top: 0;
  margin-right: 20px;
}
.nav-link {
  color: #000!important;
  font-size: 14px;
}


.header-title.text-white {
  width: 100%;
  height: 350px;
  top: -96px;
  left: 0;
  transform: none;
  position: relative;
}

.awesome .info p {
font-size: 15px;
}

.awesome h1 {

font-size: 23px !important;
}
footer {
width: 100%;
height: 100%;
transform: none !important;
}
footer .overflowimg {
padding: 30px 0;
}
footer .overflowimg .info {
transform: none;
top: inherit;
left: inherit;
position: relative;
width: 100%;
}
.copyright {
background: #000;
/* width: 100%; */
height: 100%;
transform: none;
overflow: hidden;
padding: 20px 0;
text-align: center;
} 
.copyright ul {
display: block;
}
.copyright img {
width: 200px;
}
.copyright ul li .border-top-1{
display: none;
}
.achievement {
margin-bottom: 30px;
}
/* start about */
.about-header .header-title.text-white {
  transform: none;
}
.about-us {
  padding: 70px 0 60px 0;
}
.about-us h1 {
  font-size: 32px;
}
.overload-Y-1,
.overload-Y-2 {
  display: none;
}
/* End about */
}
  @media (min-width: 768px) and (max-width: 991.98px) {
    nav {
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      position: relative  !important;
  }
  .logo {
    margin: 0;
  } 
  header {
    
    height: 72vh;
  }
  .logo img {
    width: 75px;
    margin-top: 0;
    margin-right: 20px;
  }
  .nav-link {
    color: #000!important;
    font-size: 14px;
  }
 

  .header-title.text-white {
    width: 100%;
    height: 350px;
    top: -96px;
    left: 0;
    transform: none;
    position: relative;
}

.awesome .info p {
  font-size: 15px;
}

.awesome h1 {

  font-size: 23px !important;
}
footer {
  width: 100%;
  height: 100%;
  transform: none !important;
}
footer .overflowimg {
  padding: 30px 0;
}
footer .overflowimg .info {
  transform: none;
  top: inherit;
  left: inherit;
  position: relative;
  width: 100%;
}
.copyright {
  background: #000;
  /* width: 100%; */
  height: 100%;
  transform: none;
  overflow: hidden;
  padding: 20px 0;
  text-align: center;
} 
.copyright ul {
  display: block;
}
.copyright img {
  width: 200px;
}
.copyright ul li .border-top-1{
  display: none;
}
.achievement {
  margin-bottom: 30px;
}
/* start about */
.about-header .header-title.text-white {
  transform: none;
}
.about-us {
  padding: 70px 0 60px 0;
}
.about-us h1 {
  font-size: 32px;
}
.overload-Y-1,
.overload-Y-2 {
  display: none;
}
/* End about */
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
  nav {
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative  !important;
}
.logo {
  margin: 0;
} 
header {
  
  height: 72vh;
}
.logo img {
  width: 75px;
  margin-top: 0;
  margin-right: 20px;
}
.nav-link {
  color: #000!important;
  font-size: 14px;
}


.header-title.text-white {
  width: 100%;
  height: 350px;
  top: -96px;
  left: 0;
  transform: none;
  position: relative;
}

.awesome .info p {
font-size: 15px;
}

.awesome h1 {

font-size: 23px !important;
}
footer {
width: 100%;
height: 100%;
transform: none !important;
}
footer .overflowimg {
padding: 30px 0;
}
footer .overflowimg .info {
transform: none;
top: inherit;
left: inherit;
position: relative;
width: 100%;
}
.copyright {
background: #000;
/* width: 100%; */
height: 100%;
transform: none;
overflow: hidden;
padding: 20px 0;
text-align: center;
} 
.copyright ul {
display: block;
}
.copyright img {
width: 200px;
}
.copyright ul li .border-top-1{
display: none;
}
.achievement {
margin-bottom: 30px;
}
/* start about */
.about-header .header-title.text-white {
  transform: none;
}
.about-us {
  padding: 70px 0 60px 0;
}
.about-us h1 {
  font-size: 32px;
}
.overload-Y-1,
.overload-Y-2 {
  display: none;
}
/* End about */
.Contact p {
  font-size: 17px;
  margin-bottom: 80px;
}
 }